doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel='stylesheet', href='aku.css' type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        header
            a(href='/aku') Beritamus
        nav
            ul
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertising
        section.main(id='main')
        if user
            .p-stat
                .pic(class='clear')
                |Penobrol    :  #{user.u_pen}
                br
                |Tandya     : #{user.u_tan}
                br
                |haipur    :  #{user.u_haipur}
                br
                |Last Login     : #{user.last_login}
            .p-penobrol Penobrol
                if penobrols
                    each p in penobrols
                        .links
                            dl
                                dt
                                    a(href='/penobrol/'+p.id)= p.title
                                    dd
                                        span.content-info
                                        |view : #{p.p_view}
                                        span.bar          
                                        span.content-info
                                        |com : #{p.com}
                                        span.bar           
                                        span.content-info
                                        |date : #{p.date}
                                        span.bar           
                                        span.content-info
                                        |like : #{p.p_like}
            .p-tandya Tandya
                if tandyas
                    each t in tandyas
                        .links
                            dl
                                dt
                                    a(href='/tandya/'+t.id)= t.question
                                    dd
                                        span.content-info
                                        |view : #{t.t_view}
                                        span.bar          
                                        span.content-info
                                        |com : #{t.com}
                                        span.bar           
                                        span.content-info
                                        |date : #{t.date}
                                        span.bar           
                                        span.content-info
                                        |like : #{t.t_like}
            a.logout(href= '/aku/logout') Logout!
        else
            form(action='aku/login' method='post')
                p
                    input(type='text' name='u_id' placeholder='   ID')
                    input(type='password' name='u_pw' placeholder='     Password')
                p
                    input(type='submit' value="Login")
            a(href='/register') Daftar
            a(href='/aku/hilang') Hilang?
    script(type="text/javascript" src="aku.js")
