doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        //link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel='stylesheet', href='aku.css' type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(data-ad-client="ca-pub-8830254782781844" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
        header
            a(href='/aku') Beritamus
        nav
            ul
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertisement
        section.main(id='main')
        if user
            .p-stat
                p Penobrol    :  #{user.u_pen}
                p Tandya     : #{user.u_tan}
                p Haipur    :  #{user.u_haipur}
            .p-penobrol Penobrol
                if penobrols
                    each p in penobrols
                        -var plink = 'penobrol/'+p.id
                        dl(onclick ='location.href="#{plink}"')
                            dt
                                a(href='/penobrol/'+p.id)= p.title
                                dd.content-info view : #{p.p_view}        
                                dd.content-info com : #{p.com}       
                                - var date_result = datemaker(p.date)
                                dd.content-info date : #{date_result}         
                                dd.content-info like : #{p.p_like}
            .p-tandya Tandya
                if tandyas
                    each t in tandyas
                        -var tlink = 'tandya/'+t.id
                        dl(onclick ='location.href="#{tlink}"')
                            dt
                                a(href='/tandya/'+t.id)= t.question
                                dd.content-info view : #{t.t_view}        
                                dd.content-info jawaban : #{t.answer}
                                - var date_result = datemaker(t.date)
                                dd.content-info date : #{date_result}        
                                dd.content-info like : #{t.t_like}
                                
            a.logout(href= '/aku/logout') Logout!
        else
            form(action='aku/login' method='post')
                p
                    input(type='text' name='u_id' placeholder='   ID')
                    input(type='password' name='u_pw' placeholder='     Password')
                p
                    input(type='submit' value="Login" id="login")
            .daftar
                a(href='/aku/hilang') Hilang?
                a(href='/register') Daftar
        section.footer(id='footer') kontak : joe.guson@beritamus.com
    script(type="text/javascript" src="aku.js")
