doctype html
html(lang="id")
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        link(rel='stylesheet', href='cari.css' type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        meta(charset='UTF-8') 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' h ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' min ago';}
    -else{return parseInt(diff/1000)+' sec ago';}
    -}
    -}
    -}
    -}
    -var phashtagfinder = function(pid, hashtags){
    -for(var i=0; i<hashtags.length; i++){if(hashtags[i].p_id == pid){return hashtags[i];}}
    -}
    -var thashtagfinder = function(tid, hashtags){
    -for(var i=0; i<hashtags.length; i++){if(hashtags[i].t_id == tid){return hashtags[i];}}
    -}
    -var hashtagmaker = function(hashtagObject, count){
    -var hashtagArray = [];
    -var hashtag_temp = '';
    -hashtagArray[0] = hashtagObject.ht1;
    -hashtagArray[1] = hashtagObject.ht2;
    -hashtagArray[2] = hashtagObject.ht3;
    -hashtagArray[3] = hashtagObject.ht4;
    -hashtagArray[4] = hashtagObject.ht5;
    -hashtagArray[5] = hashtagObject.ht6;
    -hashtagArray[6] = hashtagObject.ht7;
    -for(var i = 0; i<count; i++){hashtag_temp= hashtag_temp + '#'+hashtagArray[i]+' ';}
    -return hashtag_temp;
    -}
        .container
            header(id='header')
                a(href='/cari') Beritamus      
            nav(id='nav')
                ul
                    li
                        a(href='/aku') Aku
                    li(style='border-bottom: 2px solid yellow; opacity: .9')
                        a(href='/cari' style='color: #ffff97;') Cari
                    li
                        a(href='/penobrol') Penobrol
                    li
                        a(href='/tandya') Tandya
                    br.clear
            section.sub-main(id='sub-main')
                //.ad Advertising
                .search
                    form(action='/cari/search' method='get')
                        input(type='text' name='search' placeholder='   Cari Penobrol / Tandya')
                        input(type='submit' class="submit" value="search")
            section.main(id='main')
                // if users
                if(penobrols.length > 0)
                    ul(class="ul-result")
                        .div-result Penobrol
                        each p in penobrols
                            li
                                -var plink = 'penobrol/'+p.id
                                dl(onclick ='location.href="#{plink}"')
                                    dt
                                        a(href='/penobrol/'+p.id)= p.title
                                    dd.ddcontent= p.content
                                    - var date_result = datemaker(p.date) + ' / ' + p.p_view + ' views' + ' / '+p.com + ' comments';
                                    -var hashtagfind = phashtagfinder(p.id, pthash); 
                                    -var hashtagfinal = hashtagmaker(hashtagfind, p.hashtagcount);
                                    dd #{hashtagfinal}
                                    dd #{date_result}
                if(tandyas.length > 0)
                    ul(class="ul-result")
                        .div-result Tandya
                        each t in tandyas
                            li
                                -var tlink = 'tandya/'+t.id
                                dl(onclick ='location.href="#{tlink}"')
                                    dt
                                        a(href='/tandya/'+t.id)= t.question
                                    dd.ddcontent= t.content
                                    - var date_result = datemaker(t.date) + ' / ' + t.t_view + ' views'+ ' / '+t.answer + ' answers';
                                    -var hashtagfind = thashtagfinder(t.id, pthash); 
                                    -var hashtagfinal = hashtagmaker(hashtagfind, t.hashtagcount);
                                    dd #{hashtagfinal}
                                    dd #{date_result}
                if(hashtags.length > 0)
                    ul(class="ul-result")
                        .div-result Hashtag
                        each h in hashtags
                            li
                                if(h.identifier =='p')
                                    -var plink = 'penobrol/'+h.id
                                    dl(onclick ='location.href="#{plink}"')
                                        dt
                                            a(href='/penobrol/'+h.id)= h.title
                                        dd.ddcontent= h.content
                                        - var date_result = datemaker(h.date) + ' / ' + h.p_view + ' views' + ' / '+h.com + ' comments';
                                        -var hashtagfind = phashtagfinder(h.id, pthash); 
                                        -var hashtagfinal = hashtagmaker(hashtagfind, h.hashtagcount);
                                        dd #{hashtagfinal}
                                        dd #{date_result}
                                else
                                    -var tlink = 'tandya/'+h.id
                                    dl(onclick ='location.href="#{tlink}"')
                                        dt
                                            a(href='/tandya/'+h.id)= h.question
                                        dd.ddcontent= h.content
                                        - var date_result = datemaker(h.date) + ' / ' + h.t_view + ' views'+ ' / '+h.answer + ' answers';
                                        -var hashtagfind = thashtagfinder(h.id, pthash); 
                                        -var hashtagfinal = hashtagmaker(hashtagfind, h.hashtagcount);
                                        dd #{hashtagfinal}
                                        dd #{date_result}
            section.footer(id='footer') 
                p contact : admin@beritamus.com
                p www.beritamus.com
