doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel='stylesheet', href='cari.css' type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8') 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        header(id='header')
            a(href='/cari') Beritamus      
        nav(id='nav')
            ul
                li
                    a(href='/aku') Aku
                li(style='border-bottom: 2px solid #ffff97; opacity: .9')
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li    
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertising
            .search
                    form(action='/cari/search' method='get')
                        p
                            input(type='text' name='search' placeholder='   Apa?')
                        br
                        p
                            input(type='submit' class="submit")
            .login
                if user
                    h2= 'Hi! ' + user.u_id
                else
                    a(href='/aku') Login Dulu
        section.main(id='main')
            ul(id='uls')
            - var datemaker = function(date){
            -   var tempdate = new Date(date);
            -   var nowdate = new Date();
            -   var year = tempdate.getFullYear();
            -   var month = tempdate.getMonth();
            -   var day = tempdate.getDate();
            -   var diff = nowdate - tempdate;
            -   if(diff > 864000000){return month+'/'+day+'/'+year;}
            -   else{
            -       if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
            -       else{
            -           if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
            -           else{
            -               if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
            -               else{return parseInt(diff/1000)+' seconds ago';}
            -               }
            -           }
            -       }
            -   }
                - for(var i=0; i<6; i++)
                    if(randoms[i].identifier =='p')
                        li
                            span= randoms[i].identifier
                            dl
                                dt(style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')
                                    a(href='/penobrol/'+randoms[i].id style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')= randoms[i].title
                                dd(style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')= randoms[i].content
                                if(randoms[i].public == 'a')
                                    - var anonim = randoms[i].author.substr(0,3)+'****';
                                    dd #{anonim}
                                else
                                    dd= randoms[i].author
                                dd= randoms[i].p_view
                                - var date_result = datemaker(randoms[i].date);
                                dd #{date_result}
                            span
                    else
                        li
                            span= randoms[i].identifier
                            dl
                                dt(style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')
                                    a(href='/tandya/'+randoms[i].id style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')= randoms[i].question
                                dd(style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap;')= randoms[i].content
                                if(randoms[i].public == 'a')
                                    - var anonim = randoms[i].author.substr(0,3)+'****';
                                    dd #{anonim}
                                else
                                    dd= randoms[i].author
                                dd= randoms[i].t_view
                                - var date_result = datemaker(randoms[i].date);
                                dd #{date_result}
                            span
        script(type="text/javascript" src="cari.js")
