doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        //link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel='stylesheet', href='cari.css' type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        meta(charset='UTF-8') 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(data-ad-client="ca-pub-8830254782781844" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' h ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' min ago';}
    -else{return parseInt(diff/1000)+' sec ago';}
    -}
    -}
    -}
    -}
        header(id='header')
            a(href='/cari') Beritamus      
        nav(id='nav')
            ul
                li
                    a(href='/aku') Aku
                li(style='border-bottom: 3px solid #ffff97; opacity: .9')
                    a(href='/cari' style='color: #ffff97;') Cari
                li
                    a(href='/penobrol') Penobrol
                li    
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            //.ad Advertising
            .search
                form(action='/cari/search' method='get')
                        input(type='text' name='search' placeholder='   Cari Penobrol / Tandya')
                        input(type='submit' class="submit" value="search")
        section.main(id='main')
            if randoms
                ul(id='uls')
                    -for(var i=0; i<randoms.length; i++)
                        li
                            if(randoms[i].identifier =='p')
                                -var plink = 'penobrol/'+randoms[i].id
                                dl(onclick ='location.href="#{plink}"')
                                    dt
                                        a(href='/penobrol/'+randoms[i].id)= randoms[i].title
                                    dd.ddcontent= randoms[i].content
                                    - var date_result = datemaker(randoms[i].date) + ' / ' + randoms[i].p_view + ' views' + ' / '+randoms[i].com + ' comments';
                                    dd #{date_result}
                            else
                                -var tlink = 'tandya/'+randoms[i].id
                                dl(onclick ='location.href="#{tlink}"')
                                    dt
                                        a(href='/tandya/'+randoms[i].id)= randoms[i].question
                                    dd.ddcontent= randoms[i].content
                                    - var date_result = datemaker(randoms[i].date) + ' / ' + randoms[i].t_view + ' views'+ ' / '+randoms[i].answer + ' answers';
                                    dd #{date_result}
                    if !u_id
                        .login
                            a(href='/aku') Login Dulu
        script(type="text/javascript" src="cari.js")
