doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="penobrol_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(data-ad-client="ca-pub-8830254782781844" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
    -var anonimmaker = function(username){
    -var idChanger = '';
    -var idLength = (username).length;
    -idChanger = username.substr(0,3) + '****';
    -return idChanger;
    -}
        header
            a(href='/penobrol') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertisement
        section.main(id='main')
            .title
                if u_id
                dl.pview-dl
                    if topic.public == 'a'
                        - var date_result = 'by '+ anonimmaker(topic.author) + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.p_view + ' / ' + 'kommentar : ' + topic.com
                    else
                        - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.p_view + ' / ' + 'kommentar : ' + topic.com
                    dt.pview-dt= topic.title               
                    dd.pview-dd #{date_result}
                    dd.pview-dd
                        if hashtag
                            -for(var n=0; n<topic.hashtagcount; n++)
                                a= '#' + hashtag[Object.keys(hashtag)[n]] + ' ' 
                    if u_id
                        .saveWarnButton
                            if u_id == topic.author
                                a(href='/pedit/'+topic.id) Edit
                            button(class="warning" type="submit" value='pen/'+topic.id+'/0/0' onclick="warningAjax(this)" id="warn/"+'pen/'+topic.id+'/0/0') Warn
            .pcontent= topic.content
                div(id="plikes")= topic.p_like
                if u_id
                    div(id="plikebuttons")
                        if statusCheck == 'yes'
                            button(id="likeButton" class="plikes" type="submit" value="Batal Suka") Batal Suka
                        else
                            button(id="likeButton" class="plikes" type="submit" value="Suka") Suka
            if u_id
                form(action='penobrol/'+topic.id method='post' id='commentForm')
                  p
                    textarea(name='comment' id="comment")
                  p
                    input(type='submit' value='submit' class="comment")
            if comments
                .pcomment
                    ul.pcomment-ul
                        each c in comments
                            li.pcomment-li
                                dl.pcomment-dl(id='pComment'+c.id)
                                    if topic.public == 'a'
                                        - var commentStart = '@'+ anonimmaker(topic.author)+" \""+c.content+"\""
                                    else
                                        - var commentStart = '@'+ topic.author+" \""+c.content+"\""
                                    dt.pcomment-dt #{commentStart}
                                    - var date_result2 = 'by : '+c.author+' / '+datemaker(c.date)+' / kommentar : ' + c.com
                                    dd.pcomment-dd #{date_result2}
                                    dd.pcomment-dd(id="pCommentlikes"+c.id)=c.pc_like
                                    dd.pcomment-dd
                                        if u_id
                                            if statusCheck == 'yes'
                                                button(class="plikes" type="submit" value=c.id onclick="commentSendAjax(this);") Batal Suka
                                            else
                                                button(class="plikes" type="submit" value=c.id onclick="commentSendAjax(this);") Suka
                                    dd.pcomment-dd
                                        if u_id
                                            button(class="warning" type="submit" value='com/'+topic.id+'/'+c.id+'/0' onclick="warningAjax(this);" id="warn/"+'com/'+topic.id+'/'+c.id+'/0') Warn
                                        if u_id == c.author
                                            a(href='/pcedit/'+topic.id+'/'+c.id) Edit
                                    each cc in ccomments    
                                        if cc.pc_id == c.id
                                            dl.pccomment-dl
                                                if topic.public == 'a'
                                                    - var ccommentStart = '@'+ anonimmaker(c.author)+" \""+cc.content+"\""
                                                else
                                                    - var ccommentStart = '@'+ c.author+" \""+cc.content+"\""
                                                dt.pccomment-dt #{ccommentStart}
                                                    - var date_result3 = 'by : ' + cc.author + ' / '+datemaker(cc.date)
                                                dd.pccomment-dd #{date_result3}
                                                    if u_id
                                                        button(class="warning" type="submit" value='pcc/'+topic.id+'/'+c.id+'/'+cc.id  onclick="warningAjax(this);" id="warn/"+'pcc/'+topic.id+'/'+c.id+'/'+cc.id) Warning
                                    dd.pcomment-dd
                                        if u_id
                                            p
                                                textarea(name='ccomment')
                                                input(type='submit' name=c.id class="ccomment" onclick="ccommentSendAjax(this);") 
        script(type="text/javascript" src="plikes.js")
