doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        //link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="penobrol.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
        header
            a(href='/tandya') Beritamus
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertisement
        section.main(id='main')
            .login
                if(u_id)
                    a.addPenobrol(href='/penobrol/add') adder
                else
                    a.addPenobrol(href='/aku') Login Dulu 
            .p-terbaru
                .p-title Penobrol Terbaru
                ul
                    each v in dateTopics
                        li
                            dl.p-dl
                                dt
                                    a(href='/penobrol/'+v.id)= v.title
                                dd.ddcontent= v.content
                                - var date_result = datemaker(v.date) + ' / ' + v.p_view + ' views' + ' / ' + v.com+' komentar';
                                dd #{date_result}        
            .p-terkenal
                .p-title Penobrol Terkenal
                ul
                    each w in scoreTopics
                        li
                            dl.p-dl
                                dt
                                    a(href='/penobrol/'+w.id)= w.title
                                dd.ddcontent= w.content
                                - var date_result = datemaker(w.date) + ' / ' + w.p_view + ' views' + ' / ' + w.com+' komentar';
                                dd #{date_result}        
    //script(type="text/javascript" src="prank.js")