doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="tandya_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(data-ad-client="ca-pub-8830254782781844" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
    -var anonimmaker = function(username){
    -var idChanger = '';
    -var idLength = (username).length;
    -idChanger = username.substr(0,3) + '****';
    -return idChanger;
    -}
        header
            a(href='/tandya') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertisement
        section.main(id='main')
            .title
                dl.tview-dl
                    dt.tview-dt
                        span Q : 
                        span= topic.question
                    .tview-div(id="content")= topic.content
                    if u_id
                        .saveWarnButton
                            if u_id == topic.author
                                a(href='/tedit/'+topic.id) Edit
                            button(class="warning" type="submit" value='tan/'+topic.id+'/0/0' onclick="warningAjax(this);" id="warn/"+'tan/'+topic.id+'/0/0') Warn
                    div(id="tlikes")= topic.t_like
                    .tview-div
                        if topic.public == 'a'
                            - var date_result = 'by '+ anonimmaker(topic.author) + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
                        else
                            - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
                        dd.tview-dd
                            if hashtag
                                -for(var n=0; n<topic.hashtagcount; n++)
                                    a= '#' + hashtag[Object.keys(hashtag)[n]] + ' '
                        dd.tview-dd #{date_result}
            if u_id
                div(id="tlikebuttons")
                    if statusCheck == 'yes'
                        button(id="likeButton" class="tlikes" type="submit" value="Batal Suka") Batal Suka
                    else
                        button(id="likeButton" class="tlikes" type="submit" value="Suka") Suka
            if u_id
                form(action='tandya/'+topic.id method='post' id='answerForm')
                      p
                        textarea(name='answer' id="answer")
                      p
                        input(type='submit' value='submit' class="answer")  
            if answers
                .tanswer
                    ul.tanswer-ul
                        each a in answers
                            li.tanswer-li
                                dl.tanswer-dl(id='tAnswer'+a.id)
                                    dt.tanswer-dt= a.answer
                                    if topic.public == 'a'
                                        - var date_result2 = 'by '+ anonimmaker(a.author) + ' /  '+datemaker(a.date)+' / ' + 'kommentar : ' + a.com
                                    else
                                        - var date_result2 = 'by '+ a.author + ' /  '+datemaker(a.date)+' / ' + 'kommentar : ' + a.com
                                    dd.tanswer-dd #{date_result2}
                                    dd.tanswer-dd(id="tAnswerlikes"+a.id)= a.ta_like
                                    dd.tanswer-dd
                                        if u_id
                                            if statusCheck == 'yes'
                                                button(class="tlikes" type="submit" value=a.id onclick="answerSendAjax(this);") Batal Suka
                                            else
                                                button(class="tlikes" type="submit" value=a.id onclick="answerSendAjax(this);") Suka
                                    dd.tanswer-dd
                                        if u_id
                                            button(class="warning" type="submit" value='ans/'+topic.id+'/'+a.id+'/0' onclick="warningAjax(this);" id="warn/"+'ans/'+topic.id+'/'+a.id+'/0') Warn
                                            if u_id == a.author
                                                a(href='/taedit/'+topic.id+'/'+a.id) Edit
                                    each ac in acomments    
                                        if ac.ta_id == a.id
                                            dl.acomment-dl
                                                - var acommentStart = '- "'+ac.content+"\""
                                                dt.acomment-dt #{acommentStart}
                                                if topic.public == 'a'
                                                    - var date_result3 = 'by : ' + anonimmaker(ac.author) + ' / '+datemaker(ac.date)
                                                else
                                                    - var date_result3 = 'by : ' + ac.author + ' / '+datemaker(ac.date)
                                                    dd.acomment-dd #{date_result3}
                                                    if u_id
                                                        button(class="warning" type="submit" value='tac/'+topic.id+'/'+a.id+'/'+ac.id onclick="warningAjax(this);" id="warn/"+'tac/'+topic.id+'/'+a.id+'/'+ac.id) Warn
                                    dd.tanswer-dd
                                        if u_id
                                            p
                                                textarea(name='acomment')
                                                input(type='submit' name=a.id class="acomment" onclick="acommentSendAjax(this);") 
        script(type="text/javascript" src="tlikes.js")
