doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="tandya_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
        header
            a(href='/tandya') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertisement
        section.main(id='main')
            .title
                dl.tview-dl
                    dt.tview-dt= topic.question
                    - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view
                    dd.pview-dd #{date_result}
                    dd.tview-dd= topic.answer        
                    if hashtag
                        -for(var n=0; n<topic.hashtagcount; n++)
                            a= '#' + hashtag[Object.keys(hashtag)[n]] + ' '
                    if u_id
                        .saveWarnButton
                            if u_id == topic.author
                                a(href='/tedit/'+topic.id) Edit
                            button(class="warning" type="submit" value='tan/'+topic.id+'/0/0' onclick="warningAjax(this);" id="warn/"+'tan/'+topic.id+'/0/0') Warn
            .tcontent= topic.content
                div(id="tlikes")= topic.t_like
                if u_id
                    div(id="tlikebuttons")
                        if statusCheck == 'yes'
                            button(id="likeButton" class="tlikes" type="submit" value="Batal Suka") Batal Suka
                        else
                            button(id="likeButton" class="tlikes" type="submit" value="Suka") Suka
            if u_id
                form(action='tandya/'+topic.id method='post' id='answerForm')
                      p
                        textarea(name='answer' id="answer")
                      p
                        input(type='submit' value='submit' class="answer")  
            if answers
                .tanswer
                    ul.tanswer-ul
                        each a in answers
                            li.tanswer-li
                                dl.tanswer-dl(id='tAnswer'+a.id)
                                    dt.tanswer-dt= a.answer
                                    dd.tanswer-dd= a.author
                                    dd.tanswer-dd(id="tAnswerlikes"+a.id)= a.ta_like
                                    dd.tanswer-dd= a.date
                                    dd.tanswer-dd
                                        if u_id
                                            if statusCheck == 'yes'
                                                button(class="tlikes" type="submit" value=a.id onclick="answerSendAjax(this);") Batal Suka
                                            else
                                                button(class="tlikes" type="submit" value=a.id onclick="answerSendAjax(this);") Suka
                                    dd.tanswer-dd
                                        if u_id
                                            button(class="warning" type="submit" value='ans/'+topic.id+'/'+a.id+'/0' onclick="warningAjax(this);" id="warn/"+'ans/'+topic.id+'/'+a.id+'/0') Warn
                                            if u_id == a.author
                                                a(href='/taedit/'+topic.id+'/'+a.id) Edit
                                    each ac in acomments    
                                        if ac.ta_id == a.id
                                            dl.tanswer-dl2
                                                dt.acomment-dt= ac.content
                                                dd.acomment-dd= ac.author
                                                dd.acomment-dd= ac.date
                                                    if u_id
                                                        button(class="warning" type="submit" value='tac/'+topic.id+'/'+a.id+'/'+ac.id onclick="warningAjax(this);" id="warn/"+'tac/'+topic.id+'/'+a.id+'/'+ac.id) Warn
                                    dd.tanswer-dd
                                        if u_id
                                            p
                                                textarea(name='acomment')
                                                input(type='submit' name=a.id class="acomment" onclick="acommentSendAjax(this);") 
        script(type="text/javascript" src="tlikes.js")
