doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="tandya_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        header
            a(href='/tandya') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main
            .ad Advertisement
        section.main(id='main')
            .title
                dl.tview-dl
                    dt.tview-dt= topic.question
                    dd.tview-dd= topic.author
                    span.bar             
                    dd.tview-dd= topic.t_view
                    span.bar                   
                    dd.tview-dd= topic.answer
                    span.bar                 
                    dd.tview-dd= topic.date
                    if hashtag
                        -for(var n=0; n<topic.hashtagcount; n++)
                            a= '#' + hashtag[Object.keys(hashtag)[n]] + ' '
            .saveWarnButton
                if u_id
                    button(class="save" type="submit" value="save" onclick="saveAjax(this);") Save
                    button(class="warning" type="submit" value='tan'+topic.id onclick="warningAjax(this);") Warn
            .tcontent= topic.content
                div(id="tlikes" style="color:black; font-size:12px;")= topic.t_like
                div(id="tlikebuttons")
                    if u_id
                        if statusCheck == 'yes'
                            button(id="likeButton" class="tlikes" type="submit" value="Batal Suka") Batal Suka
                        else
                            button(id="likeButton" class="tlikes" type="submit" value="Suka") Suka
            br
            if u_id
                form(action='tandya/'+topic.id method='post')
                      p
                        textarea(name='answer' id="comment")
                      p
                        input(type='submit' value='submit' class="comment")  
            if answers
                .tanswer
                    ul.tanswer-ul
                        each a in answers
                            li.tcomment-li
                                dl.tcomment-dl
                                    dt.tcomment-dt= a.answer
                                    dd.tcomment-dd= a.author
                                    dd.tcomment-dd(id="tAnswerlikes"+a.id)= a.ta_like
                                    dd.tcomment-dd= a.date
                                    dd.tcomment-dd
                                        if u_id
                                            if statusCheck == 'yes'
                                                button(class="warning" type="submit" value=a.id onclick="warningAjax(this);") Batal Suka
                                            else
                                                button(class="tlikes" type="submit" value=a.id onclick="answerSendAjax(this);") Suka
                                    dd.tcomment-dd
                                        button(class="warning" type="submit" value='ans'+a.id onclick="warningAjax(this);") Warning
        script(type="text/javascript" src="tlikes.js")
