doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="tandya_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
       
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' h ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' min ago';}
    -else{return parseInt(diff/1000)+' sec ago';}
    -}
    -}
    -}
    -}
    -var anonimmaker = function(username){
    -var idChanger = '';
    -var idLength = (username).length;
    -idChanger = username.substr(0,3) + '****';
    -return idChanger;
    -}
    -var answerLikeChecker = function(likeObject, aId, userId){for(var i = 0; i<likeObject.length; i++){if(likeObject[i].ta_id == aId && likeObject[i].u_id == userId){return true;}}return false;} 
        header
            a(href='/tandya') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            //.ad Advertisement
        section.main(id='main')
            .ttitle-div
                span Q : #{topic.question}
            .tcontent-div
                if u_id
                    p(class= "warn")
                        button(class="twarnButton" type="submit" value='tan/'+topic.id+'/0/0' onclick="warningAjax(this);" id="warn/"+'tan/'+topic.id+'/0/0') !Warn
                p(class="content")= topic.content
                div(id="tlike" class="tlike")= topic.t_like
                if u_id
                    if statusCheck == 'yes'
                        button(id="tlikeButton" class="tlikeButton" type="submit" value="Batal Suka") Batal Suka
                    else
                        button(id="tlikeButton" class="tlikeButton" type="submit" value="Suka") Suka
            .tdetail-div
                if topic.public == 'a'
                    - var date_result = 'by '+ anonimmaker(topic.author) + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
                else
                    - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
                if hashtag.ht1 != ' '    
                    p
                        -for(var n=0; n<topic.hashtagcount; n++)
                            a= '#' + hashtag[Object.keys(hashtag)[n]] + ' '
                p #{date_result}
                    if u_id == topic.author
                        a(href='/tedit/'+topic.id class='edit') Edit
            if u_id
                form(action='tandya/'+topic.id method='post' class='answerForm')
                      p
                        textarea(name='answer' id="answer" class="taInput")
                      p
                        input(type='submit' value='submit' class="taInputButton" id='taInputButton')
            if answers.length > 0
                .tanswer
                    ul.tanswer-ul
                        each a in answers
                            li.tanswer-li
                                dl.tanswer-dl(id='ta/'+topic.id+'/'+a.id)
                                    if topic.public == 'a'
                                        - var answerStart = '@'+ anonimmaker(topic.author)
                                    else
                                        - var answerStart = '@'+ topic.author
                                    .tanswer-start #{answerStart}
                                        if u_id == a.author
                                            a(href='/taedit/'+topic.id+'/'+a.id) Edit
                                    dt.tanswer-dt "#{a.answer}"
                                    if topic.public == 'a'
                                        - var date_result2 = 'by '+ anonimmaker(a.author) + ' /  '+datemaker(a.date)+' / suka : '
                                    else
                                        - var date_result2 = 'by '+ a.author + ' / '+datemaker(a.date)+' / suka : '
                                    dd.tanswer-dd #{date_result2}
                                        span.talike(id="tAnswerlikes"+a.id)= a.ta_like 
                                        if u_id
                                            span.answerButton
                                                if(answerLikeChecker(alikeStatus, a.id, u_id))
                                                    button(class="talikeButton" type="submit" value=topic.id+'/'+a.id onclick="answerSendAjax(this);") Batal Suka
                                                else
                                                    button(class="talikeButton" type="submit" value=topic.id+'/'+a.id onclick="answerSendAjax(this);") Suka
                                                span.dummy
                                                button(class="taWarnButton" type="submit" value='ans/'+topic.id+'/'+a.id+'/0' onclick="warningAjax(this);" id="warn/"+'ans/'+topic.id+'/'+a.id+'/0') !Warn
                                    if u_id    
                                        .acommentForm
                                            textarea(name='acomment' class="tacInput")
                                            input(type='submit' name=a.id onclick="acommentSendAjax(this);" value="komen" class="tacInputButton")        
                                    each ac in acomments    
                                        if ac.ta_id == a.id
                                            dl.tacomment-dl
                                                - var acommentStart = '- "'+ac.content+'"'
                                                dt.tacomment-dt #{acommentStart}
                                                if topic.public == 'a'
                                                    - var date_result3 = 'by : ' + anonimmaker(ac.author) + ' / '+datemaker(ac.date)
                                                else
                                                    - var date_result3 = 'by : ' + ac.author + ' / '+datemaker(ac.date)
                                                dd.tacomment-dd #{date_result3}
                                                    if u_id
                                                        button(class="tacWarnButton" type="submit" value='tac/'+topic.id+'/'+a.id+'/'+ac.id onclick="warningAjax(this);" id="warn/"+'tac/'+topic.id+'/'+a.id+'/'+ac.id) ! Warn
        section.footer(id='footer') 
            p contact : admin@beritamus.com
            p www.beritamus.com                            
        script(type="text/javascript" src="tlikes.js")
