doctype html
html(lang="id")
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        //link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="tandya.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
    -var datemaker = function(date){
    -var tempdate = new Date(date);
    -var nowdate = new Date();
    -var year = tempdate.getFullYear();
    -var year = tempdate.getFullYear();
    -var month = tempdate.getMonth();
    -var day = tempdate.getDate();
    -var diff = nowdate - tempdate;
    -if(diff > 864000000){return month+'-'+day+'-'+year;}
    -else{
    -if(diff > 86400000){return parseInt(diff/86400000)+' days ago';}
    -else{
    -if(diff > 3600000){return parseInt(diff/3600000)+' hours ago';}
    -else{
    -if(diff > 60000){return parseInt(diff/60000)+' minutes ago';}
    -else{return parseInt(diff/1000)+' seconds ago';}
    -}
    -}
    -}
    -}
    -var anonimmaker = function(username){
    -var idChanger = '';
    -var idLength = (username).length;
    -idChanger = username.substr(0,3) + '****';
    -return idChanger;
    -}
        header
            a(href='/tandya') Beritamus
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/tandya' style='color: #ffff97;') Tandya
                br.clear
        section.sub-main(id='sub-main')
            //.ad Advertisement
        section.main(id='main')
            .login
                if(u_id)
                    a.addTandya(href='/tandya/add') +
                else
                    a.addTandya(href='/aku') +
            .t-terbaru
                .t-title Tandya Terbaru
                ul
                    each v in dateTopics
                        li
                            -var tlink = 'tandya/'+v.id
                            dl.t-dl(onclick ='location.href="#{tlink}"')
                                dt
                                    a(href='/tandya/'+v.id)= v.question
                                dd.ddcontent= v.content
                                if v.public == 'a'
                                    - var date_result = 'by '+anonimmaker(v.author)+' / ' + datemaker(v.date) + ' / ' + v.t_view + ' views' + ' / ' + v.answer+' jawaban'
                                else
                                    - var date_result = 'by '+v.author+' / ' + datemaker(v.date) + ' / ' + v.t_view + ' views' + ' / ' + v.answer+' komentar'
                                dd #{date_result}
            .t-terkenal
                .t-title Tandya Terkenal               
                ul
                    each w in scoreTopics
                        li
                            -var tlink = 'tandya/'+w.id
                            dl.t-dl(onclick ='location.href="#{tlink}"')
                                dt
                                    a(href='/tandya/'+w.id)= w.question
                                dd.ddcontent= w.content
                                if w.public == 'a'
                                    - var date_result = 'by '+anonimmaker(w.author)+' / ' + datemaker(w.date) + ' / ' + w.t_view + ' views' + ' / ' + w.answer+' jawaban'
                                else
                                    - var date_result = 'by '+w.author+' / ' + datemaker(w.date) + ' / ' + w.t_view + ' views' + ' / ' + w.answer+' jawaban'
                                dd #{date_result}      
        section.footer(id='footer') 
            p contact : admin@beritamus.com
            p www.beritamus.com
        //script(type="text/javascript" src="prank.js")