extends ../layout.jade

block css
    link(rel="stylesheet" href="../css/tandya.css" type="text/css")
    script(type="text/javascript" src="/js/jsForAllJade.js")

block nav
    ul
        li: a(href='/aku') Aku
        li: a(href='/cari') Cari
        li: a(href='/penobrol') Penobrol
        li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/tandya' style='color: #ffff97;') Tandya
        br.clear

block submain
    //.ad Advertisement

block main
    section.main(id='main')
        .login
            if(u_id)
                a.addTandya(href='/tandya/add') +
            else
                a.addTandya(href='/aku') +
        .t-terbaru
            .t-title Tandya Terbaru
            ul
                each v in dateTopics
                    li
                        div(class='articleDiv')
                            -var tlink = 'tandya/'+v.id
                            dl.t-dl(onclick ='location.href="#{tlink}"')
                                dt
                                    a(href='/tandya/' + v.id)= v.question
                                dd.ddcontent= v.thumbnail
                                -var date_result = 'by '+v.u_id+' / ' + v.date + ' / ' + v.view + ' views' + ' / ' + v.answer+' answers'
                                -var hashtagfinal = v.hashtags.map(e => `#${e.hash}`).join(" ");
                                dd #{hashtagfinal}
                                dd #{date_result}
                        div(class='articleImgDiv')
                            if(v.img)
                                img(src="#{v.img}")
                        br.clear
        .t-terkenal
            .t-title Tandya Terkenal
            ul
                each w in scoreTopics
                    li
                        div(class='articleDiv')
                            -var tlink = 'tandya/'+w.id
                            dl.t-dl(onclick ='location.href="#{tlink}"')
                                dt
                                    a(href='/tandya/' + w.id)= w.question
                                dd.ddcontent= w.thumbnail
                                  - var date_result = 'by '+w.u_id+' / ' + w.date + ' / ' + w.view + ' views' + ' / ' + w.answer+' answers'
                                  -var hashtagfinal = w.hashtags.map(e => `#${e.hash}`).join(" ");
                                dd #{hashtagfinal}
                                dd #{date_result}
                        div(class='articleImgDiv')
                            if(w.img)
                                img(src="#{w.img}")
                        br.clear
                //script(type="text/javascript" src="prank.js")
