extends ../view_layout
include ../view_mixIn

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/js/warnArticle.js")
    script(type="text/javascript" src="/js/deleteArticle.js")

block css
    link(rel="stylesheet" href="../../css/view_layout.css" type="text/css")
    link(rel='stylesheet' href='../../css/view_mixin.css' type="text/css")

block submain

block main
    .ttitle-div
        span Q : #{topic.question}
    .tcontent-div
        p(class="content")= topic.content
        div(id="tlike" class="tlike")= topic.t_like
    .tdetail-div
        if topic.public == 'a'
            - var date_result = 'by '+ anonimmaker(topic.author) + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
        else
            - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.t_view + ' / ' + 'jawaban : ' + topic.answer
        if hashtag.ht1 != ' '
            p
                -for(var n=0; n<topic.hashtagcount; n++)
                    a= '#' + hashtag[n].hash + ' '
        p #{date_result}
