extends ../reply_add_edit_layout

block reply_add_edit_layout_js

block reply_add_edit_layout_css

block submain

block articleDl
    dt.articleTitleDt= topic.title
    +hashtag(topic.hashtags)
    +basicInfo(topic.u_id, topic.date, topic.view, topic.replyCount, topic.identifier)

block articleThumb
    if(topic.thumbnail)
        p.articleThumbP= topic.thumbnail

block replyInput
    if(id2)
        textarea(name='reply' id="reply" class="replyInput")= edit_content.content
        input(type='submit' value='comment' class="replyInputButton" id="replySubmitButton")
    script.
        const submit = document.getElementById('replySubmitButton');
        if (submit) {
            const reply = document.getElementById('reply');
            submit.onclick = function () {
                let data = {};
                data.content = reply.value;
                makeRequest('put', '/api/reply/penobrol/' + #{topic.id} + '/' + #{edit_content.id}, data)
                    .then(function () {
                        window.location.href = location.origin + '/penobrol/' + #{topic.id};
                    });
            }
        }

