mixin frontPage(type)
    .login
        if(id2)
            -var href= type+'/new/'
            a.addArticle(href= "#{href}") +
        else
            a.addArticle(href='/aku') +
    .newArticle
        .articleHeading Terbaru
        ul.thumbnailUl
            for v in dateTopics
                b-thumbnail(jsonSrc="#{JSON.stringify(v)}")
    .popArticle
        .articleHeading Terkenal
        ul.thumbnailUl
            for w in scoreTopics
                b-thumbnail(jsonSrc="#{JSON.stringify(w)}")

mixin basicPInfo(author, date, view, comAnsCount)
    - var basicInfo = 'by '+ author + ' / '+date+' / ' + 'view : ' +view + ' / ' + comAnsCount+ ' comments'
    dd.basicInfo #{basicInfo}
    
mixin basicTInfo(author, date, view, comAnsCount)
    - var basicInfo = 'by '+ author + ' / '+date+' / ' + 'view : ' +view + ' / ' + comAnsCount+ ' answers'
    dd.basicInfo #{basicInfo}

mixin hashtag(hashtags)
    if(hashtags.length > 0)
        dd.viewHashtag
            - var hashtags = topic.hashtags.map(e => `#${e.hash}`).join(" ");
            a #{hashtags}

