mixin frontPage(type)
    .login
        if(u_id)
            -var href = type+'/add';
            a.addArticle(href= "#{href}") +
        else
            a.addArticle(href='/aku') +
    .newArticle
        .articleHeading Terbaru
        ul.thumbnailUl
            each v in dateTopics
                b-thumbnail(jsonSrc="#{JSON.stringify(v)}")
    .popArticle
        .articleHeading Terkenal
        ul.thumbnailUl
            each w in scoreTopics
                b-thumbnail(jsonSrc="#{JSON.stringify(w)}")

mixin basicInfo(author, date, view, comAnsCount)
    - var basicInfo = 'by '+ author + ' / '+date+' / ' + 'view : ' +view + ' / ' + comAnsCount+ ' comments'
    dd.basicInfo #{basicInfo}

mixin hashtag(hashtags)
    if(hashtags.length > 0)
        dd.pview-dd.hashtag
            - var hashtags = topic.hashtags.map(e => `#${e.hash}`).join(" ");
            a #{hashtags}

            
