extends ../layout.jade

block css
    link(rel="stylesheet" href="../css/penobrol.css" type="text/css")

block nav
    ul
        li: a(href='/aku') Aku
        li: a(href='/cari') Cari
        li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/penobrol' style='color: #ffff97;') Penobrol
        li: a(href='/tandya') Tandya
        br.clear

block submain
    //.ad Advertisement

block main
    .login
        if(u_id)
            a.addPenobrol(href='/penobrol/add') +
        else
            a.addPenobrol(href='/aku') +
    .p-terbaru
        .p-title Penobrol Terbaru
        ul
            each v in dateTopics
                li
                    div(class='articleDiv')
                        -var plink = 'penobrol/'+v.id
                        dl.p-dl(onclick ='location.href="#{plink}"')
                            dt
                                a(href='/penobrol/' + v.id)= v.title
                            dd.ddcontent= v.thumbnail
                            -var date_result = 'by '+v.u_id+' / ' + v.date + ' / ' + v.view + ' views' + ' / ' + v.com+' comments'
                            -var hashtagfinal = v.hashtags.map(e => `#${e.hash}`).join(" ");
                            dd #{hashtagfinal}
                            dd #{date_result}
                    div(class='articleImgDiv')
                        if(v.img)
                                img(src="#{v.img}")
                    br.clear
    .p-terkenal
        .p-title Penobrol Terkenal
        ul
            each w in scoreTopics
                li
                    div(class='articleDiv')
                        -var plink = 'penobrol/'+w.id
                        dl.p-dl(onclick ='location.href="#{plink}"')
                            dt
                                a(href='/penobrol/' + w.id)= w.title
                            dd.ddcontent= w.thumbnail
                            -var date_result = 'by '+w.u_id+' / ' + w.date + ' / ' + w.view + ' views' + ' / ' + w.com+' comments'
                            -var hashtagfinal = w.hashtags.map(e => `#${e.hash}`).join(" ");
                            dd #{hashtagfinal}
                            dd #{date_result}
                    div(class='articleImgDiv')
                        if(w.img)
                                img(src="#{w.img}")
                    br.clear
