doctype html
html(lang="id")
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="penobrol_view.css" type="text/css")
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        .container
            header
                a(href='/penobrol') Beritamus      
            nav
                include front/html/nav_mixIn
                +navi('p')
            section.main(id='main')
                .title
                    dl.pview-dl
                        if topic.public == 'a'
                            - var date_result = 'by '+ anonimmaker(topic.author) + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.p_view + ' / ' + topic.com+ ' komen' 
                        else
                            - var date_result = 'by '+ topic.author + ' /  '+datemaker(topic.date)+' / ' + 'view : ' + topic.p_view + ' / ' + topic.com+ ' komen' 
                        dt.pview-dt= topic.title
                        if hashtag.ht1 != ' '   
                            dd.pview-dd.hashtag
                                -for(var n=0; n<topic.hashtagcount; n++)
                                    a= '#' + hashtag[n].hash + ' '
                        dd.pview-dd #{date_result} 
                .pcontent
                    p(class="content")= topic.content
                    div(id="plike" class="plike")= topic.p_like
                if u_id
                    form(action='/pcedit/'+topic.id+'/'+edit_content.id method='post' id='commentForm' class='commentForm')
                        textarea(name='comment' id="comment" class="pcInput")= edit_content.content
                        input(type='submit' value='submit' class="pcInputButton")
            section.footer(id='footer') 
                p contact : admin@beritamus.com
                p www.beritamus.com
