extends ../layout

block js
    script(type="text/javascript" src="/js/samusil.js")

block main
    div(id="users") count users : #{users}
    div(id="penobrol") count penobrol : #{penobrol}
    div(id="tandya") count tandya : #{tandya}
    div(id="youtublog") count youtublog : #{youtublog}
    div(id="comment") count comment : #{comment}
    div(id="answer") count answer : #{answer}