html
    head
        link(rel='stylesheet' href="/css/youtube_embed.css" type="text/css")
    body
        if youtube
            iframe(id='_embedded_youtube' width='100%' src=`https://www.youtube.com/embed/${youtube.source}?`
                allow='accelerometer; autoplay; encrypted-media; gyroscope;'
                allowfullscreen)
            each timeRow in youtube.timeRows
                .timeButtonDescContainer
                    div(class='time_row')
                        button(id="time-" + timeRow.time class="timeRowButton")=timeRow.time
                    div(class='desc_row')
                        span(class="descRow")=timeRow.desc
            script.
                const embeddedYoutube = document.getElementById('_embedded_youtube');
                let init = true;

                window.onload = function() {
                    if (init) {
                        init = false;

                        matchEmbeddedIframeAspectRatio();

                        const buttons = Array.from(document.getElementsByTagName('button'));
                        for (const button of buttons) {
                            if (!button.id.startsWith('time-')) continue;
                            setOnClickToTimeButton(button);
                        }
                    }
                };

                window.onresize = function() {
                    matchEmbeddedIframeAspectRatio();
                };

                function matchEmbeddedIframeAspectRatio() {
                    const width = embeddedYoutube.offsetWidth;
                    const height = width * 315 / 560;
                    embeddedYoutube.style.height = height + "px";
                    dispatchEvent(new Event('load'));
                }

                function setOnClickToTimeButton(timeButton) {
                    const time = parseTimeFromId(timeButton.id);
                    const src = embeddedYoutube.src;
                    const startStringIndex = src.indexOf('?');
                    const queryParams = '?autoplay=1&start=' + time;
                    timeButton.onclick = function() {
                        embeddedYoutube.src = src.substring(0, startStringIndex) + queryParams;
                    };
                }

                function parseTimeFromId(timeId) {
                    const hyphenIndex = timeId.indexOf('-');
                    const [h, m, s] =  timeId.substring(hyphenIndex + 1).split(':').map(toInt);
                    return 60 * 60 * h + 60 * m + s;
                }

                function toInt(str) {
                    return parseInt(str);
                }
        else
            h1='Wrong youtube source id'