extends ../layout

block js
    script(type="text/javascript" src='../../js/common_beditor.js')
    script(type="text/javascript" src='../../js/article_beditor.js')
    script(type="text/javascript" src="../../js/jsForAllJade.js")
    script(type="text/javascript" src="../../public/b-dialog.js")
    script(type="text/javascript" src="../../public/b-link/b-link.js")
    script(type="text/javascript" src="../../public/b-link/b-link-dialog.js")
    script(type="text/javascript" src="../../public/b-editor/b-editor.js")
    block article_add_edit_layout_js

block css
    link(rel="stylesheet" href="../../css/article_add_edit_layout.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-editor.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-dialog.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-link.css" type="text/css")
    block article_add_edit_layout_css

block submain

block main
    .article
        p.inputP
            input(id='mainColumn' class='mainColumn' type='text' maxlength='200')
        p.infoP
            span(id='mainColumnInfo' class='infoSpan')
        p.inputP
            input(id='thumbnail' class='thumbnail'  type='text' name='thumbnail' placeholder='   thumbnail' maxlength='200')
        p.infoP
            span(id='thumbnailInfo' class='infoSpan')
        p.inputP
            block b-editor
        p.inputP
            input(id='hashtag' class="hashtag"  type='text' name='hashtag' placeholder='#put #hashtags #like #this')
        p.infoP
            span(id='hashInfo' class='infoSpan')
        p.inputP
            block submitButton

block jscript
    script.
        const mainColumnMaxLength = 200;
        const thumbnailMaxLength = 200;
        const hashtagsMaxCount = 20;

        function getMainColumn() {
            return document.getElementById('mainColumn').value;
        }

        function getThumbnail() {
            return document.getElementById('thumbnail').value;
        }

        function getContent() {
            return document.getElementById('editor').value();
        }

        function getHashtags() {
            return document.getElementById('hashtag').value
                .split('#')
                .map(function (it) {
                    return it.trim();
                });
        }

        function updateMainColumnInfo() {
            const remaining = mainColumnMaxLength - getMainColumn().length;
            document.getElementById('mainColumnInfo').innerHTML = `${remaining}/${mainColumnMaxLength}`;
        }

        function updateThumbnailInfo() {
            const remaining = thumbnailMaxLength - getThumbnail().length;
            document.getElementById('thumbnailInfo').innerHTML = `${remaining}/${thumbnailMaxLength}`;
        }

        function updateHashtagInfo() {
            const remaining = hashtagsMaxCount - getHashtags().length;
            document.getElementById('hashInfo').innerHTML = `${remaining}/${hashtagsMaxCount}`;
        }

        function checkSubmit() {
            if (getMainColumn().length < 5) {
                alert('title must be longer than 5 words');
                return false;
            }
            if (getContent().length < 5) {
                alert('content must be longer than 5 words');
                return false;
            }
            return true;
        }

        window.addEventListener('load', function () {
            updateMainColumnInfo();
            updateThumbnailInfo();
            updateHashtagInfo();

            // document.getElementById('btnSubmit').onclick = function () {
            //     if (checkSubmit())
            //         postEditArticle('#{type}');
            // };

            const inputMainColumn = document.getElementById('mainColumn');
            const inputThumbnail = document.getElementById('thumbnail');
            const inputHashtag = document.getElementById('hashtag');

            inputMainColumn.onkeydown = function (e) {
                if (getMainColumn().length >= mainColumnMaxLength)
                    e.preventDefault();
            };
            inputThumbnail.onkeydown = function (e) {
                if (getThumbnail().length >= thumbnailMaxLength)
                    e.preventDefault();
            };
            inputHashtag.onkeydown = function (e) {
                if (getHashtags().length >= hashtagsMaxCount && e.key === '#')
                    e.preventDefault();
            };
            inputMainColumn.onkeyup = updateMainColumnInfo;
            inputThumbnail.onkeyup = updateThumbnailInfo;
            inputHashtag.onkeyup = updateHashtagInfo;
        });
        let currentTag = (location.pathname).split('/')[1];
        switch (currentTag) {
            case 'penobrol':
                mainColumn.setAttribute('placeholder', '   title');
                break;
            case 'tandya':
                mainColumn.setAttribute('placeholder', '   question');
                break;
            case 'youtublog':
                mainColumn.setAttribute('placeholder', '   title');
                break;
        }
    block jscript_supplement