extends ../front_layout

block frontJs

block frontCss
    link(rel='stylesheet', href='/css/cari.css' type="text/css")

block submain
    .search
        form(action='/cari/search' method='get')
            input(type='text' name='search')
            button(type='submit' class="submit" value="search")
                img(src="icons/cari3.png" class="cariImage")

block main
    .common_info
        a.weatherwidget-io(href="https://forecast7.com/en/n0d79113d92/indonesia/" data-label_1="INDONESIA" data-icons="Climacons Animated" data-days="5" data-theme="pure") INDONESIA
        script.
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src='https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,'script','weatherwidget-io-js');
    if(id2 === 0)
        a.login(href="/aku") login
    - var count = 6;
    ul.thumbnailUl(id='uls')
        for item in list
            - count--;
            b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)
        if count == 0 && !u_id
            .cariLogin
                a(href='/aku') Login Dulu
