extends ../layout.jade

block css
    link(rel='stylesheet', href='../css/cari.css' type="text/css")
    script(type="text/javascript" src="/js/cari.js")

block nav
    ul
        li: a(href='/aku') Aku
        li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/cari' style='color: #ffff97;') Cari
        li: a(href='/penobrol') Penobrol
        li: a(href='/tandya') Tandya
        br.clear

block submain
    //.ad Advertising
    .search
        form(action='/cari/search' method='get')
            input(type='text' name='search' placeholder='   Cari Penobrol / Tandya')
            button(type='submit' class="submit" value="search")
                img(src="cari3.png" class="cariImage")

block main
    ul(id='uls')
        for item in list
            li
                div(class='articleDiv')
                    - var type = item.identifier === 'p'? 'penobrol' : 'tandya';
                    - var link = `${type}/${item.id}`;
                    dl(onclick = 'location.href="#{link}"')
                        dt
                            - var title = item.identifier === 'p'? item.title : item.question;
                            a(href='/#{type}/#{item.id}') #{title}
                        dd.ddcontent #{item.thumbnail}
                        - var date_result = item.date + ' / ' + item.view + ' views';
                        - var hashtagfinal = item.hashtags.map(e => `#${e.hash}`).join(' ');
                        dd #{hashtagfinal}
                        dd #{date_result}
                div(class='articleImgDiv')
                    if(item.img)
                            img(src="#{item.img}")
                br.clear
    if !u_id
        .login
            a(href='/aku') Login Dulu

block footer            
