extends ../layout.jade
    
block css
    link(rel='stylesheet', href='/css/aku.css' type="text/css")
    script(type="text/javascript" src="../js/aku.js")


block nav
  ul
    li(style='border-bottom: 2px solid yellow; opacity: .9')
        a(href='/aku' style='color: #ffff97;') Aku
    li
        a(href='/cari') Cari
    li
        a(href='/penobrol') Penobrol
    li
        a(href='/tandya') Tandya
    br.clear

block submain
  //.ad Advertisement
  
block main
  if user
    .p-stat
      -var likeCountChecker = function(num){if(num){return num;}else{return 0;}}
      .likeStat
        span.likeSpan
          p.likeHeading Penobrol
          p.likeCount= totalLikes.penobrol
        span.likeSpan
          p.likeHeading Tandya
          p.likeCount= totalLikes.tandya
      .likeStat
        span.likeSpan 
          p.likeHeading Comment
          p.likeCount= totalLikes.comment
        span.likeSpan 
          p.likeHeading Answer
          p.likeCount= totalLikes.answer
    .p-penobrol
      p Penobrol
      if penobrols
        each p in penobrols
          -var plink = 'penobrol/'+p.id
          dl(onclick ='location.href="#{plink}"')
            dt
              a(href='/penobrol/'+p.id)= p.title
            dd.content-info #{p.content}
            - var hashtags = p.hashtags.map(e => `#${e.hash}`).join(" ");
            dd.content-info #{hashtags+ p.date}
              span(style='color: #c91818; font-size:14px;')= p.like
    .p-tandya 
      p Tandya
      if tandyas
        each t in tandyas
          -var tlink = 'tandya/'+t.id
          dl(onclick ='location.href="#{tlink}"')
            dt
              a(href='/tandya/'+t.id)= t.question
            dd.content-info #{t.content}        
            - var hashtags = t.hashtags.map(e => `#${e.hash}`).join(" ");
            dd.content-info #{hashtags + t.date}
              span(style='color: #c91818;')= t.like       
    a.logout(href= '/aku/logout') Logout
  else
    form(action='aku/login' method='post')
      input(type='text' name='u_id' placeholder='  ID' id="input_id")
      input(type='password' name='u_pw' placeholder='  Password' id="input_pw")
      if message
        p.message= message
      input(type='submit' value="Login" id="login" onclick='noDouble()')
    .daftar
      span(id="hilang")
        a(href='/aku/findMyIdPw') Forgot
      span(id="daftar")
        a(href='/aku/daftar') Sign Up

    
