extends ../user_layout

block personalInfo
    a.changinfo(href= '/aku/change') #{u_id}

block personalStat
    .likeStat
        span.likeSpan
            p.likeHeading Penobrol
            p.likeCount= totalLikes.penobrol
        span.likeSpan
            p.likeHeading Tandya
            p.likeCount= totalLikes.tandya
    .likeStat
        span.likeSpan
            p.likeHeading Comment
            p.likeCount= totalLikes.comment
        span.likeSpan
            p.likeHeading Answer
            p.likeCount= totalLikes.answer

block userPenobrol
    p Penobrol
        if penobrols.length > 0
            ul.thumbnailUl
                each p in penobrols
                    b-thumbnail(jsonSrc=`${JSON.stringify(p)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...

block userTandya
    p Tandya
        if tandyas.length > 0
            ul.thumbnailUl
                each t in tandyas
                    b-thumbnail(jsonSrc=`${JSON.stringify(t)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...

block userYoutublog
    p Youtublog
        if youtublog.length > 0
            ul.thumbnailUl
                each t in youtublog
                    b-thumbnail(jsonSrc=`${JSON.stringify(t)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...

block logout
    a.logout(href= '/aku/logout') Logout

