extends ../user_layout

block userInfo
    span.userInfoSpan
        a.changinfo(href= '/aku/change') #{u_id}
    span.userInfoSpan #{follower} followers
    span.userInfoSpan following  #{following}

block userStat
    .likeStat
        span.likeSpan
            p.likeHeading Penobrol
            p.likeCount= totalLikes.penobrol
        span.likeSpan
            p.likeHeading Tandya
            p.likeCount= totalLikes.tandya
        span.likeSpan
            p.likeHeading Youtublog
            p.likeCount= totalLikes.youtublog
    .likeStat
        span.likeSpan
            p.likeHeading Penobrol Comment
            p.likeCount= totalLikes.pcomment
        span.likeSpan
            p.likeHeading Tandya Answer
            p.likeCount= totalLikes.answer
        span.likeSpan
            p.likeHeading Youtublog Comment
            p.likeCount= totalLikes.ycomment


block userPenobrol
    p Penobrol
        if penobrols.length > 0
            ul.thumbnailUl
                each p in penobrols
                    b-thumbnail(jsonSrc=`${JSON.stringify(p)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:50px;") 0

block userTandya
    p Tandya
        if tandyas.length > 0
            ul.thumbnailUl
                each t in tandyas
                    b-thumbnail(jsonSrc=`${JSON.stringify(t)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:50px;") 0

block userYoutublog
    p Youtublog
        if youtublog.length > 0
            ul.thumbnailUl
                each t in youtublog
                    b-thumbnail(jsonSrc=`${JSON.stringify(t)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:50px;") 0

block logout
    a.logout(href= '/aku/logout') Logout

