extends ../user_layout

block userInfo
    span.userInfoSpan
        p #{u_id}
    span.userInfoSpan #{follower} followers
    span.userInfoSpan following #{following}

block userStat
    if(follow)
        button(type="submit" id="followId") UNFOLLOW
    else
        button(type="submit" id="followId") FOLLOW

block userPenobrol
    p Penobrol
        if penobrols.length > 0
            ul.thumbnailUl
                each p in penobrols
                    b-my-thumbnail(jsonSrc=`${JSON.stringify(p)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...

block userTandya
    p Tandya
        if tandyas.length > 0
            ul.thumbnailUl
                each t in tandyas
                    b-my-thumbnail(jsonSrc=`${JSON.stringify(t)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...

block userYoutublog
    p Youtublog
        if youtublogs.length > 0
            ul.thumbnailUl
                each y in youtublogs
                    b-my-thumbnail(jsonSrc=`${JSON.stringify(y)}`)
        else
            .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...


block jscript
    script.
        const followButton = document.getElementById("followId");
        let followState = "#{follow}" === "true";

        followButton.addEventListener("click", function(){
            followButton.disabled = true;
            requestFollow();
        });
        function requestFollow() {
            const data = {
                status : !followState,
                target : "#{u_id}"
            };
            var original = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "/api/aku/follow");
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(original);
            xhr.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    changeText();
                } else {
                    console.error(this.status);
                }
                followButton.disabled = false;
            };
            xhr.onerror = function () {
                console.error("error");
            };
        };
        function changeText() {
            followButton.innerText = followState ? "FOLLOW": "UNFOLLOW";
            followState = !followState;
        }