extends ../layout.jade
    
block css
    link(rel='stylesheet', href='/css/aku.css' type="text/css")
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    script(type="text/javascript" src="../js/aku.js")
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-youtube-time.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")


block nav
  ul
    li(style='border-bottom: 2px solid yellow; opacity: .9')
        a(href='/aku' style='color: #ffff97;') aku
    li
        a(href='/cari') cari
    li
        a(href='/penobrol') penobrol
    li
        a(href='/tandya') tandya
    br.clear

block submain
  //.ad Advertisement

block main
    if user
        .p-info
            p #{u_id}
            //admin1로 로그인 한 상태에서 admin2의 정보를 바꿀수 있으면 안됨. 삭제함
        .p-stat
            if(follow)
                button(type="submit" id="followId") UNFOLLOW
            else
                button(type="submit" id="followId") FOLLOW
        .personalArticle
            p Penobrol
                if penobrols.length > 0
                    ul.thumbnailUl
                        each p in penobrols
                            b-thumbnail(jsonSrc="#{JSON.stringify(p)}")
                else
                    .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                        span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                        span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...
        .personalArticle
            p Tandya
                if tandyas.length > 0
                    ul.thumbnailUl
                        for t in tandyas
                            b-thumbnail(jsonSrc="#{JSON.stringify(t)}")
                else
                    .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") K
                        span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") S
                        span(style="font-family: 'Fruktur', cursive; font-size:48px;")  0
                        span(style="font-family: 'Fruktur', cursive; font-size:28px;") NG...
        a.logout(href= '/aku/logout') Logout


block js
    script.
        const followButton = document.getElementById("followId");
        let followState = "#{follow}" === "true";

        followButton.addEventListener("click", function(){
            followButton.disabled = true;
            requestFollow();
        });
        function requestFollow() {
            const data = {
                status : !followState,
                target : "#{u_id}"
            };
            var original = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "/api/aku/follow");
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(original);
            xhr.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    changeText();
                } else {
                    console.error(this.status);
                }
                followButton.disabled = false;
            };
            xhr.onerror = function () {
                console.error("error");
            };
        };
        function changeText() {
            followButton.innerText = followState ? "FOLLOW": "UNFOLLOW";
            followState = !followState;
        }