mixin userInfo(self, u_id, follower, following)
    span.userInfoSpan
        if(self)
            a.changinfo(href= '/aku/change') #{u_id}
        else
            p(style='color:#0f4c81;') #{u_id}
    span.userInfoSpan #{follower} followers
    span.userInfoSpan following  #{following}

mixin userLikeCount(type, likeCount)
    span.likeSpan
        p.likeHeading= type
        p.likeCount= likeCount

mixin userArticle(type, articles)
    if articles.length > 0
        ul.myThumbnailUl
            each a in articles
                b-my-thumbnail(jsonSrc=`${JSON.stringify(a)}`)
    else
        .kosong(style="text-align:center; font-family: 'Fruktur', cursive;")
            span(style="font-family: 'Fruktur', cursive; font-size:50px;") 0