mixin frontPage(type)
    .login
        if(id2)
            -var href= type+'/new/'
            a.addArticle(href= `${href}`) +
        else
            a.addArticle(href='/aku') +
    ul.thumbnailUl(id="uls")
        for v in topics
            b-thumbnail(jsonSrc=`${JSON.stringify(v)}`)

mixin basicPInfo(author, date, view, comAnsCount)
    - var basicInfo = 'by '+ author + ' / '+date+' / ' + 'view : ' +view + ' / ' + comAnsCount+ ' comments'
    dd.basicInfo #{basicInfo}
    
mixin basicTInfo(author, date, view, comAnsCount)
    - var basicInfo = 'by '+ author + ' / '+date+' / ' + 'view : ' +view + ' / ' + comAnsCount+ ' answers'
    dd.basicInfo #{basicInfo}

mixin hashtag(hashtags)
    if(hashtags.length > 0)
        dd.viewHashtag
            - var hashtags = topic.hashtags.map(e => `#${e.hash}`).join(" ");
            a #{hashtags}

